/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Sección de Progreso del Usuario */
  .progress-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .progress-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .progress-details p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
  }
  
  /* Sección de Calendario */
  .calendar-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .calendar-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #007BFF;
    color: white;
  }
  
  button.btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button.btn:hover {
    background-color: #218838;
  }
  
  /* Sección de Rutina de Ejercicios */
  .workout-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .workout-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .workout-section ul {
    list-style-type: none;
  }
  
  .workout-section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .workout-section li p {
    font-size: 18px;
    color: #555;
  }
  
  /* Sección de Historial de Actividad */
  .history-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .history-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  